.venv/
__pycache__/
*.pyc
.DS_Store
*-ref/
*.fa
*.fa.gz
*.gtf
*.gtf.gz
test_config.yaml
outputs/*
!outputs/*/.gitkeep
inputs/control/*
!inputs/control/.gitkeep
inputs/treatment/*
!inputs/treatment/.gitkeep
test_data/
